<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">在庫確認の方法<span class="caret"></span></span></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>1. カテゴリで絞り込みからカテゴリを選んで実行ボタンを押す。この時、並び替えをすることもできる。</p>
        <p>2. それぞれの物品の在庫数量を数えて右側の入力欄に入力する。</p>
        <p>3. 前回確認したときの数量も表示されているので、それと比較して数字がおかしくないか注意する。</p>
        <p>4. 入力が終われば画面の一番下の日付を確認して登録ボタンを押す。</p>
        <p>5. 緑色の「情報が登録されました」という表示がでれば成功。</p>
        <p>*登録は何回かに分けてもいいが、同じ日付で同じ物品の情報は登録できない。いったん登録した情報を修正したいときは、物品の詳細画面から在庫情報の編集や削除ができる。</p>
      </div>
    </div>
  </div>
</div>
