<div class="row">
  <h1>
	  入荷数量の入力
  </h1>
  <div>
    <%= form_tag(add_path, method: :get, class: 'form-inline') do %>
    	<%= render '/layouts/sort_form' %>
    <% end %>
  </div>
  
  <%= render 'inventory_table' %>
</div>
