<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">在庫情報の説明<span class="caret"></span></span></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>並べ替えで特定のキーを基準に並べ替えることが、またカテゴリで絞込みで特定カテゴリだけの物品に絞り込んでを表示できる。</p>
        <p>確認数量は、最後に確認された数量と確認日を表示している。</p>
        <p>月間使用量は、過去の在庫数の推移から計算した平均的な使用量を示している。</p>
        <p>在庫月数は現在の推定在庫数を月間使用量で割ったもので、在庫切れまでの月数を示している。</p>
        <p>推奨発注日は、在庫切れ予測日からリードタイムx1.5倍だけ前の日付であり、余裕を持って発注するための目安を示す。</p>
        <p>在庫月数、推奨発注日の背景が黄色のものは発注時期に来ていることを、背景が赤色のものは在庫切れが予測されるものを示す。</p>
      </div>
    </div>
  </div>
</div>
