<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">発注方法<span class="caret"></span></span></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>1. 発注先と発注書行数（発注する物品の数）を選んで選択ボタンをクリックする。</p>
        <p>2. 物品をリストから選択し発注数を入力する。</p>
        <p>3. 在庫数評価ボタンをクリックすると、在庫月数が表示されるので、発注量が妥当か確認する。</p>
        <p>4. 必要に応じて2.に戻って発注する物品や数を修正する。</p>
        <p>5. 発注量が決まれば、発注日、入荷予定日などを入力して、新規発注をクリックする。</p>
        <p>* 在庫月数は発注数と現在の在庫数を合計したときの、在庫切れまでの月数を示している。ただし、あくまでも目安なので間違いがないか注意すること。</p>
      </div>
    </div>
  </div>
</div>
