<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">入荷処理の方法<span class="caret"></span></span></a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>1. 入荷した物品の入荷数と入荷日を入力して、進行状況を入荷済みに変更する。</p>
        <p>2. 入荷処理ボタンをクリックして、入荷情報を登録する。</p>
        <p>3. 入荷情報が登録されました、と表示されれば登録成功。画面で入荷した商品が正しく表示されていることを確認する。</p>
        <p>* この画面からは発注した物品の変更や追加、削除などはできない。また、入荷済みの物品も情報を変更できない。変更の必要があるときは、別の編集画面で行うこと。</p>
      </div>
    </div>
  </div>
</div>
